<form
  name="signInForm"
  ng-submit="$ctrl.onSubmitSignInCredentials()"
  class="max-w-2xl mx-auto"
>
  <h2 class="text-2xl font-bold">Sign in</h2>
  <div class="mb-2">
    <small>take a look at our heroes by signing in</small>
    <small
      ng-if="$ctrl.signInPromise.errorMessage"
      role="alert"
      style="color: red; display: block"
    >
      ERROR: {{$ctrl.signInPromise.errorMessage}}
    </small>
  </div>

  <div class="grid grid-cols-1 gap-4 mb-6">
    <div class="flex flex-col ">
      <label for="" >e-mail</label>
      <input
        type="email"
        name="email"
        ng-model="$ctrl.inputs.email.value"
        ng-model-options="{ debounce: 400 }"
        ng-pattern="$ctrl.inputs.email.pattern"
        ng-minlength="5"
        ng-required="true"
        class="border-b border-b-gray-500 outline-none focus:border-b-gray-900 focus:border-b-2 transition-all"
      />

      <div
        ng-messages="signInForm.email.$error"
        class="text-red-400 font-bold"
        role="alert"
      >
        <span ng-message="pattern">please enter a valid email</span>
      </div>
    </div>

    <div class="flex flex-col max-w-2xl">
      <label for="">password</label>
      <input
        type="password"
        name="password"
        input="password"
        ng-model="$ctrl.inputs.password.value"
        ng-model-options="{ debounce: 400 }"
        ng-pattern="/^([^A-Z]*[A-Z][^A-Z]*){2}.*$/"
        ng-minlength="5"
        ng-required="true"
        class="border-b border-b-gray-500 outline-none focus:border-b-gray-900 focus:border-b-2 transition-all"
      />

      <div
        ng-messages="signInForm.password.$error"
        class="text-red-400 font-bold"
        role="alert"
      >
        <div ng-message="minlength">Your password is too short</div>
        <div ng-message="pattern">
          Your password should have at least 2 capital letters
        </div>
      </div>
    </div>
  </div>
  <button
    type="submit"
    name="submitSignInButton"
    ng-disabled="signInForm.$invalid || $ctrl.signInPromise.isLoading"
    class="border border-gray-400 rounded-lg p-2 cursor-pointer"
  >
    {{$ctrl.signInPromise.isLoading ? 'Loading...' : 'Sign In'}}
  </button>

  <small class="text-gray-500">Are Yout not a hero yet?
    <a href="#!/sign-up" class="text-indigo-400">turn into one right now!</a>
  </small>
</form>
