<section>
  <!--When hero fetch is loading-->
  <div ng-if="$ctrl.hero.isFetchLoading">
    <h2>Loading...</h2>
  </div>
  <!-- When hero fetch resolves-->
  <div ng-if="$ctrl.hero.data">
    <img
      ng-src="{{$ctrl.hero.data.photo}}"
      ng-alt="{{$ctrl.hero.data.name.first}} {{$ctrl.hero.data.name.last}} picture"
    />
    <h2>{{$ctrl.hero.data.name.first}} {{$ctrl.hero.data.name.last}} details</h2>

    <ul>
      <li>
        <div>
          <h3>Contacts</h3>
  
          <ul>
            <li>phone number: {{$ctrl.hero.data.phoneNumber}}</li>
            <li>e-mail: {{$ctrl.hero.data.email}}</li>
          </ul>
        </div>
      </li>
  
      <li>
        <div>
          <h3>General info</h3>
  
          <ul>
            <li>gender: {{$ctrl.hero.data.gender}}</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>

<section ng-if="!$ctrl.hero.isFetchLoading">
  <hero-opportunities opportunities="$ctrl.hero.data.opportunities">
  </hero-opportunities>
</section>
